.bankura-municipality-garbage {
  position: absolute;
  top: 2.56rem;
  left: 20.31rem;
  letter-spacing: 0.1em;
}
#map,
.small-box-child {
  position: absolute;
  border-radius: var(--br-3xs);
}
#map {
  top: 9.19rem;
  left: 2.75rem;
  width: 73.94rem;
  height: 54.31rem;
  object-fit: cover;
}
.small-box-child {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  width: 38.69rem;
  height: 7.56rem;
}
.deep-dhabal {
  top: 0;
  left: 0;
  display: inline-block;
  width: 13.51rem;
  height: 1.94rem;
}
.b,
.deep-dhabal,
.user-info {
  position: absolute;
}
.b {
  top: 2.68rem;
  left: 0;
  font-size: var(--font-size-base);
  display: inline-block;
  color: var(--color-dimgray);
  width: 9.54rem;
  height: 1.54rem;
}
.user-info {
  top: 0;
  left: 5.38rem;
  width: 13.51rem;
  height: 4.22rem;
  text-align: left;
  font-size: var(--font-size-9xl);
}
.user-profile-pic-icon {
  position: absolute;
  top: 0.31rem;
  left: 0;
  width: 4.2rem;
  height: 3.68rem;
  object-fit: cover;
}
.area-btn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-mediumspringgreen);
  border: 3px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 8.55rem;
  height: 3.08rem;
}
.area {
  position: absolute;
  top: 0.59rem;
  left: 2.54rem;
  font-weight: 600;
  display: inline-block;
  width: 3.41rem;
  height: 1.77rem;
}
.area-btn {
  top: 0.56rem;
  left: 18.5rem;
}
.area-btn,
.track-btn-child,
.track-btn-item {
  position: absolute;
  width: 8.55rem;
  height: 3.08rem;
}
.track-btn-child {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-deepskyblue);
  border: 3px solid var(--color-gray-100);
  box-sizing: border-box;
}
.track-btn-item {
  top: -0.01rem;
  left: 0.01rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightcoral);
  display: none;
}
.track {
  position: absolute;
  top: 0.64rem;
  left: 2.21rem;
  font-weight: 600;
  display: inline-block;
  width: 4.09rem;
  height: 1.77rem;
  -webkit-text-stroke: 1px #000;
}
.track-btn {
  position: absolute;
  top: 0.56rem;
  left: 28rem;
  width: 8.55rem;
  height: 3.08rem;
  color: var(--color-black);
}
.box-content {
  position: absolute;
  top: 1.69rem;
  left: 1.31rem;
  width: 36.55rem;
  height: 4.22rem;
}
.small-box {
  position: relative;
  width: 38.69rem;
  height: 7.56rem;
}
.small-box-parent {
  position: absolute;
  top: 10.06rem;
  left: 78.19rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.63rem;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.desktop-7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 67.5rem;
  overflow: hidden;
  text-align: center;
  font-size: 2.5rem;
  color: #143a4b;
  font-family: var(--font-nunito-sans);
}
